# --------------------------------------------------
# CORE BACKEND
# --------------------------------------------------
supabase==2.28.3
python-dotenv==1.0.1
fastapi==0.115.12
uvicorn==0.34.0


# --------------------------------------------------
# DATA & NUMERICAL
# --------------------------------------------------
numpy==1.26.4
pandas==2.2.2

# --------------------------------------------------
# MACHINE LEARNING
# --------------------------------------------------
xgboost==2.0.3
scikit-learn==1.4.2

# --------------------------------------------------
# HTTP REQUESTS
# --------------------------------------------------
requests==2.31.0

# --------------------------------------------------
# SCHEDULER
# --------------------------------------------------
schedule==1.2.1
